
header {
    display: flex;
}
.name-card {
    max-width: 300px;
    max-height: 300px;
}

section {
    margin-top: 100px;
}

.work-container {
    display: flex;
}

.card {
    border: 2px solid purple;
}
