* {
    background-color: black;
    color: blanchedalmond;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.neonText {
    color: #fff;
    font-family: "Brush Script MT";
    ;
    text-shadow: 
    0 0 5px #c40808,
    0 0 10px #bd9898,
    0 0 21px #fff,
    0 0 42px rgb(43, 22, 38),
    0 0 82px rgb(68, 0, 255),
    0 0 92px rgb(212, 0, 255),
    0 0 102px rgb(255, 0, 242),
    0 0 151px rgb(123, 12, 167);
    padding: 20px;
}
.name-card {
    min-width: 300px;
    min-height: 300px;
}
.about {
    padding: 15px;
    margin: 10px;
    max-width: 700px;
    border: 2px solid gray;
    box-shadow: 3px 2px 15px;
    border-radius: 10px;
    min-width: 300px;
}

section {
    margin-top: 50px;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    gap: 10px;
}
/* img {
    height: 300px;
    width: 100%;
    object-fit: cover;
} 
works, makes img fit on desktop view.  but very blurry*/

.card {
    border: 2px solid purple;
    min-width: 300px;
    max-width: 480px;
    min-height: 400px;
    max-height: 600px;
    box-shadow: 1px 2px 9px;
    border-radius: 7px;
}

footer {
    background-color: rgb(28, 37, 28);
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    body {
        margin: 5px;
        background-color: black;
        color: blanchedalmond;
    }

    h1 {
        font-size: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    section {
        margin-top: 50px;
    }
    
    .work-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 45px;
    }
    
    .card {
        border: 2px solid purple;
        box-shadow: 1px 2px 9px;
        border-radius: 7px;
        max-width: 300px;
        min-height: 400px;
        padding: 3px;
    }
    .card > p {
        padding: 20px;
    }

    footer {
        padding-top: 25px;
    }
}