* {
    background-color: black;
    color: blanchedalmond;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name-card {
    min-width: 300px;
    min-height: 300px;
}
.about {
    padding: 15px;
    margin: 10px;
    max-width: 700px;
    border: 2px solid gray;
    box-shadow: 3px 2px 15px;
    border-radius: 10px;
    min-width: 300px;
}

section {
    margin-top: 50px;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    gap: 10px;
}

.card {
    border: 2px solid purple;
    min-width: 300px;
    max-width: 480px;
    min-height: 400px;
    max-height: 600px;
    box-shadow: 1px 2px 9px;
    border-radius: 7px;
}

footer {
    background-color: rgb(28, 37, 28);
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    body {
        margin: 5px;
        background-color: black;
        color: blanchedalmond;
    }

    section {
        margin-top: 50px;
    }
    
    .work-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 45px;
    }
    
    .card {
        border: 2px solid purple;
        box-shadow: 1px 2px 9px;
        border-radius: 7px;
        max-width: 300px;
        padding: 3px;
    }
    .card > p {
        padding: 20px;
    }

    
}